<footer class="footer">
    <nav class="navbar navbar-expand">
        <div class="container py-lg-9 py-6">
            <div class="collapse navbar-collapse flex-column flex-lg-row justify-content-center justify-content-lg-between" id="navbarNav ">
                <ul class="navbar-nav flex-wrap flex-lg-nowrap justify-content-center mb-2">
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" href="services.html">服務方案</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" href="about.html">關於職旅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" href="contact-us.html">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" href="privacy.html">隱私權政策</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" href="terms.html">用戶條款</a>
                    </li> 
                </ul>
                <p class="text-natural-50  fs-7 text-nowrap">Copyright © 2025 職旅 workway. All rights reserved.</p>
            </div>
        </div>
    </nav>
</footer>

        