<div class="bg-primary-60 rounded-3 text-white px-lg-12 py-lg-6 p-6">
    <div class=" ">
        <img src="/assets/images/logo-icon-w.svg" class="mb-6" alt="">
        <h3 class="fs-3 fs-lg-2 fw-bold mb-2">邁向你真正想過的生活，從這裡開始</h3>
        <p class="fs-6 fs-lg-9 pb-6 border-bottom-dashed">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
    </div>

    <div class="d-flex flex-column flex-lg-row justify-content-between pt-lg-6 ">
        <div class="d-flex flex-column flex-lg-row py-4">
        <p class="fs-lg-5 fw-medium me-6 " ><img src="/assets/images/phone.svg" alt="" class="me-2 align-middle" >0800-123-123</p>
        <p class="fs-lg-5 fw-medium " ><img src="/assets/images/letter.svg" alt="" class="me-2 align-middle" >Sample@mail.com</p>
        </div>
        <div>
            <a class="btn btn-dark rounded-1 py-3   fs-7 fs-lg-6 px-lg-5 " href="#">預約免費職涯探索
            <span class="material-symbols-outlined align-bottom fs-6 fs-lg-4">chevron_right</span>
        </a>
        </div>
    </div>  
</div>