.nav-link-bg{
    background-color: $white;
    border: 1px solid $natural-85;
}


.mobile-booking-list li{
    list-style: none;
}

.mobile-booking-list ul{
    padding-left: 0;
    margin-bottom: 0;
}





