<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <title>職旅 Workway</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main >


      <!-- 關於職旅頁-廣告圖 -->
      <div class="about-banner">
        <div class="container py-9 py-lg-12 position-relative ">
            <div class="text-center w-800px mx-auto ">
              <h1 class="fs-2 fs-lg-xxl fw-bold mb-6 mb-lg-9">關於職旅</h1>
              <p class="text-natural-50 fs-6 fs-lg-9">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。</p>
              <p class="text-natural-50">無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
          </div>
          <img class="banner-person-img d-none d-lg-block" src="/assets/images/banner-person.svg" alt="">
        </div>
      </div>

      <!-- 精實的職旅夥伴區塊 -->
      <section class="overflow-hidden">
        <div class="container py-lg-12 py-9">
          
          <!-- 標題 -->
          <div class="text-center mb-6 mb-lg-9">
            <h3 class="fs-3 fs-lg-2 fw-medium mb-6">精實的職旅夥伴</h3>
            <p class="text-natural-50">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
          </div>

          <!-- 專家們 -->

          <div class="swiper  mentor-slider mb-9">
            <div class="swiper-wrapper">
              <div class="swiper-slide card shadow w-320px ">
                <img src="/assets/images/mentor-1.png" class="card-img-top" alt="專家陳致遠個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">數位遊牧先驅</small>
                  <h5 class="card-title mb-4">陳志遠 Ethan Chen</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 遠端工作策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 數位遊牧生活設計</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-2.png" class="card-img-top" alt="專家林曉彤個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">個人品牌策略專家</small>
                  <h5 class="card-title mb-4">林曉彤 Clara Lin</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 個人品牌建立</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 內容行銷策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 故事行銷</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-3.png" class="card-img-top" alt="專家王建明個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">財務自由規劃顧問</small>
                  <h5 class="card-title mb-4">王建明 Marcus</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 稅務優化</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 被動收入建立</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 現金流管理</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-4.png" class="card-img-top" alt="專家張雅琳 個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">創意接案與多元收入專家</small>
                  <h5 class="card-title mb-4">張雅琳 Ariel</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 創意變現策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 線上課程開發</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-5.png" class="card-img-top" alt="專家李俊宏個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">遠端工作技術顧問專家</small>
                  <h5 class="card-title mb-4">李俊宏 Kevin Lee</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 專案管理自動化</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 虛擬團隊管理</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px ">
                <img src="/assets/images/mentor-1.png" class="card-img-top" alt="專家陳致遠個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">數位遊牧先驅</small>
                  <h5 class="card-title mb-4">陳志遠 Ethan Chen</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 遠端工作策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 數位遊牧生活設計</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-2.png" class="card-img-top" alt="專家林曉彤個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">個人品牌策略專家</small>
                  <h5 class="card-title mb-4">林曉彤 Clara Lin</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 個人品牌建立</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 內容行銷策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 故事行銷</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-3.png" class="card-img-top" alt="專家王建明個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">財務自由規劃顧問</small>
                  <h5 class="card-title mb-4">王建明 Marcus</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 稅務優化</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 被動收入建立</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 現金流管理</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-4.png" class="card-img-top" alt="專家張雅琳 個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">創意接案與多元收入專家</small>
                  <h5 class="card-title mb-4">張雅琳 Ariel</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 創意變現策略</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 線上課程開發</span>
                  </div>
                </div>
              </div>

              <div class="swiper-slide card shadow w-320px">
                <img src="/assets/images/mentor-5.png" class="card-img-top" alt="專家李俊宏個人照片">
                <div class="card-body">
                  <small class="text-natural-50 fw-medium mb-2">遠端工作技術顧問專家</small>
                  <h5 class="card-title mb-4">李俊宏 Kevin Lee</h5>
                  <div class="">
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7 me-2"># 專案管理自動化</span>
                    <span class="badge rounded-pill border text-natural-50 fw-normal fs-7"># 虛擬團隊管理</span>
                  </div>
                </div>
              </div>

              

            </div>
          </div>

          <!-- 團隊承諾 -->
          
          <div class="bg-primary pt-lg-6 pt-4 pb-9  px-6 pb-lg-9 rounded-3">
            <div class="w-800px mx-auto ">
              <div class="bg-white text-primary text-center py-3  w-120px mx-auto rounded-1 position-relative mb-lg-8 mb-6  fs-lg-5">
                <p class="fw-bold">團隊承諾</p>
                <div class=" shape-ab">
                  <div class="shape-ex7"></div>
                </div>
              </div>

              <p class="text-white text-center fs-7 mx-auto mb-lg-9 mb-9">我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。</p>
              
              <div class="text-center">
                <img class="d-none d-lg-inline" src="/assets/images/text-pc.svg" alt="">
              </div>
              <div class="text-center ">
                <img class="d-lg-none img-scale-2" src="/assets/images/text-mb.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-natural-95 p-lg-12 py-9 h-979px">
        <div class="container overflow-hidden">
          <h2 class="text-center fs-lg-2 fw-bold mb-9">公司資訊</h2>
          <div class="card border-0 shadow">
            <div class="card-body p-lg-9">
              <ul class="mb-lg-9 mb-6 ps-0">
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">公司位置</h5>
                  <p >110台北市信義區信義路五段7號</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">負責人</h5>
                  <p>張世明</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">聯絡專線</h5>
                  <p>02-2758-6600</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">營業時間</h5>
                  <p class="d-none d-lg-block ">週一至週五 10:00～18:00（國定假日休息）</p>
                  <p class="d-lg-none ">週一至週五 10:00～ <br>18:00（國定假日休息）</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">電子郵件</h5>
                  <p>contact@workway.tw</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">成立時間</h5>
                  <p>2023 年 6 月</p>
                </li>
                <li class="list-style-none d-flex py-6 border-bottom border-natural-85 fs-7">
                  <h5 class="fs-lg-6 fs-7 lh-base w-120px ps-6 text-natural-50 fw-bold">統一編號</h5>
                  <p>83149276</p>
                </li>
              </ul>

  
              <div class=" h-sm-200px overflow-hidden ">
                <img class="img-scale-sm-3" src="/assets/images/map.png" alt="">
              </div>
              
              
            </div>
          </div>
        </div>
      </section>

      <section class=" ">
        <div class="container py-9">
          <div class="pt-lg-300px  position-relative">
            <%- include('./layout/free-booking.ejs'); -%> 
          </div>
        </div>
      </section>
      
      

    </main>

    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper('.swiper', {
        slidesPerView: 'auto',
        spaceBetween: 24,
        loop: true
      });
    </script>
  </body>
</html>
